<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("ZE6VsqXhz5izMM2cqRrVEDIrJWUKntoX");
      analytics.page();
      }}();
    </script> 
    <link id="favicon" rel="icon" href="https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffavicon.ico" type="image/x-icon">
    <link id="apple-touch-icon" rel="apple-touch-icon" sizes="180x180" href="https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fapple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- facebook open graph tags -->
    <meta name="og:type" content="website">
    <meta name="og:url" content="https://glitch.com">
    <meta name="og:title" content="<%= title %>">
    <meta name="og:description" content="<%= description %>">
    <meta name="og:image" content="<%= image %>">
    <!-- twitter card tags (stacks with og: tags) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@glitch">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="<%= image %>">
    <meta name="twitter:url" content="https://glitch.com">

    <link rel="stylesheet" href="https://cloud.webtype.com/css/3a8e55c6-b1f3-4659-99eb-125ae72bd084.css">
    <% for (let i = 0; i < styles.length; ++i) { %>
    <link rel="stylesheet" type="text/css" href="<%= styles[i] %>">
    <% } %>
    <noscript><style>#fallback, #fallback-noscript { display: initial !important; }</style></noscript>
  </head>
  <body> 
    <script>
      var APP_URL = '<%= APP_URL %>';
      var API_URL = '<%= API_URL %>';
      var EDITOR_URL = '<%= EDITOR_URL %>';
      var CDN_URL = '<%= CDN_URL %>';
      var GITHUB_CLIENT_ID = '<%= GITHUB_CLIENT_ID %>';
      var FACEBOOK_CLIENT_ID = '<%= FACEBOOK_CLIENT_ID %>';
    </script>

    <div id="fallback" style="display: none">
      <div class="content">
        <main>
          <h1><%= title %></h1>
          <p><%= description %></p>
        </main>
        <footer>
          <p>We can't wait to see what you create!</p>
          <p id="fallback-noscript" style="display: none">To use Glitch, please enable JavaScript</p>
          <p id="fallback-yesscript" style="display: none">To use Glitch, you&apos;ll need a browser with support for more recent JavaScript features</p>
        </footer>
      </div>
    </div>

    <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
    <script>
      Raven.config('https://4f1a68242b6944738df12eecc34d377c@sentry.io/1246508', {
        environment: '<%= ENVIRONMENT %>',
        serverName: '<%= PROJECT_DOMAIN %>',
        sanitizeKeys: ['persistentToken'],
        tags: {bootstrap: true},
      }).install();
    </script>
    <% for (let i = 0; i < scripts.length; ++i) { %>
    <script src="<%= scripts[i] %>"></script>
    <% } %>
    <script>
      if (window.bootstrap) {
        Raven.setTagsContext();
        Raven.context(window.bootstrap);
      } else {
        console.warn("Sorry, but your browser doesn't support modern JS features. You're getting the barebones site");
        document.getElementById('fallback').removeAttribute('style');
        document.getElementById('fallback-yesscript').removeAttribute('style');
      }
    </script>
  </body>
</html>
