- Loader = require "./loader"

section.analytics(class=@hiddenUnlessCurrentUserIsOnTeam)
  script(src="https://cdn.plot.ly/plotly-1.34.0.min.js" load=@plotlyLoad async="4eva")

  section.chart-container
    span(class=@hiddenUnlessGettingAnalytics)= Loader
    h3
      span= "#{@totalRemixes()} Remixes Over the #{@analyticsTimeLabel()}"
      span.emoji.emoji-in-title.microphone
    = @AnalyticsTimePop

    = @AnalyticsProjectPop
      
    = @remixesChartElement
    
    h4.from-header From
    = @remixesReferrersBars

  section.chart-container
    span(class=@hiddenUnlessGettingAnalytics)= Loader
    h3
      span= "#{@totalVisits()} Visits Over the #{@analyticsTimeLabel()}"
      span.emoji.emoji-in-title.eyes
    = @AnalyticsTimePop

    = @AnalyticsProjectPop

    = @visitsChartElement

    h4.from-header From
    = @visitsReferrersBars
